Binaries
Intermediate
.vscode
User.pb.cc
User.pb.h
User.proto
/Source/LinkProtobufRuntime/ThirdParty/Android/x86_64/Release/libprotobuf.a
/Source/LinkProtobufRuntime/ThirdParty/Android/armeabi-v7a/Release/libprotobuf.a

